<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Management</title>
    <link id="visible" href="../assets/admin.css" rel="stylesheet">
    <link id="visible" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <%- include('./public/Navbar.ejs') %>
        <div class="container">
            <div class="block p-3">
                <a class="btn btn-primary m-1" id="visible0" href="/createuser" role="button">Create User</a>
                <a class="btn btn-primary m-1" id="visible1" href="/" role="button">Delete User</a>
                <a class="btn btn-primary m-1" id="visible1" href="/" role="button">Update User</a>
            </div>
            <div class="block p-3">
                <a class="btn btn-primary m-1" id="visible0" href="#" role="button">Delete User</a>
                <a class="btn btn-primary m-1" id="visible0" href="#" role="button">Delete Pdf</a>
                <a class="btn btn-primary m-1" id="visible1" href="#" role="button">Update User</a>
            </div>
            <div class="block p-3">
                <a class="btn btn-primary m-1" id="visible0" href="#" role="button">Index Pdf</a>
                <a class="btn btn-primary m-1" id="visible0" href="#" role="button">Excel Report</a>
                <a class="btn btn-primary m-1" id="visible0" href="#" role="button">Edit Pdf</a>
            </div>
        </div>
</body>

</html>